body {
  background: #d6c8bb;
}

.container {
  background: #5960ac;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  padding: 0 0 15px 0;
}

main,
footer {
  color: #e0dbd0;
  font-family: "Arimo", sans-serif;
}

main {
  font-size: 18px;
  padding: 10px 0;
}

footer {
  padding: 40px 0 0 0;
  font-size: 16px;
}

h1 {
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-size: 56px;
  margin: 0px 0px 0px 0px;
}

a,
strong {
  color: #e8a335;
}

.search-form-input {
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  border: 3px solid #494f8e;
  padding: 4px 5px 5px 5px;
  width: 80%;
}

.submit-form-input {
  font-family: "Asimovian", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #494f8e;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  touch-action: manipulation;
}

.submit-form-input:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.temperature-details {
  display: flex;
}

.current-temperature {
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-size: 68px;
}

.temperature-emoji {
  font-size: 44px;
  margin-top: 14px;
  margin-right: 10px;
}

.weather-unit {
  margin-top: 20px;
  font-size: 26px;
}
